.flTable {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin-bottom: 5%;
    text-align-last: center;
}


.flTable td, .flTable th {
    text-align: left;
    padding: 8px;
}

.flTable td {
    font-size: 15px;
    text-align: -webkit-center;
    border-bottom: 1px solid #dcdcdc;
    background-color: white;
}

.flTable thead th {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid #dcdcdc;
}


.flTable thead th:nth-child(odd) {
    color: black;
    box-shadow: inset 0px -1px 0px #DFE2E9;
    font-weight: 500;
}

.flTable tr:nth-child(even) {
    background: #F8F8F8;
}

@media (max-width: 767px) {
    .flTable {
        display: block;
        width: 100%;
    }
    .tableWrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .flTable thead, .flTable tbody, .flTable thead th {
        display: block;
    }
    .flTable thead th:last-child{
        border-bottom: none;
    }
    .flTable thead {
        float: left;
    }
    .flTable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .flTable td, .flTable th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .flTable thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .flTable tbody tr {
        display: table-cell;
    }
    .flTable tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .flTable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
        border-bottom: 1px solid #E6E4E4;
    }
    .flTable tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
        border-bottom: 1px solid #E6E4E4;
    }
    .flTable tbody td {
        display: block;
        text-align: center;
    }
}